<html>
  <head>
    <title>Chain Reaction!</title>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-64087115-1', 'auto');
    ga('send', 'pageview');
    </script>
    <style>
      body {
        text-align: center;
      }
      #game_canvas {
        border: 1px solid black;
      }
    </style>

  </head>
  <body>
    <h1>Chain Reaction</h1>
    <form>
      <input type="button" onClick="history.go(0)" value="Reset game">
    </form>
    <canvas id="game_canvas" width="800px" height="600px"></canvas>
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/chain_reaction.js"></script>
  </body>
</html>
